div.jsoneditor-menu {
    background-color: #212121 !important;
    border-bottom: 1px solid #212121 !important;
}

.json_editor_menu {
    background-color: #212121 !important;
    border-bottom: 1px solid #212121 !important;
}

.json_editor_menu a {
    text-transform: capitalize;
}

.json_editor_child {
    border: 1px solid #212121 !important;
}