.compound_editor {
    padding: 15px 0 0 0;
}

.split_pane {
    width: 100%;
    height: 100% !important;
    position: relative !important;
}

.split_pane_resizer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;

    background: #1e88e5;
    z-index: 1;
    width: 2vw;
    cursor: col-resize;
}

.split_pane_resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;

    border-left: 5px solid #1976d2;
    border-right: 5px solid #1976d2;
}

.pane {
    margin: 0 15px 0 15px;
}

.left_pane {
    margin-left: 15px;
}

.right_pane {
    margin-right: 15px;
}