.parser_code_editor {
    width: 100% !important;
    height: 75vh !important;
}

.parser_tab {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.parser_tab_content {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}